@charset "UTF-8";

body{
    background-color: rgba(9, 209, 52, 0.185);
    font-family: Arial, Helvetica, sans-serif;
}

#principal{
    background-color: rgb(20, 141, 101);
    color: white;
    text-align: center;
}

h1{
    color: rgb(19, 161, 114);
}

h2{
    color: rgb(24, 209, 147);
}
.basico{
    color: rgb(59, 121, 59);
}

.intermediario{
    color: rgb(134, 130, 63);
}

.avançado{
    color: rgb(133, 72, 64);
}

