@charset"UTF-8";

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    background-color:rgb(252, 247, 247);
    
}
h1{
    background-color: aliceblue;
    color:rgb(9, 41, 41);
}
h2{
    color:rgb(65, 139, 139);
    background-color: rgb(233, 236, 238);
}
p{
    color: rgb(41, 158, 158);
    text-align: justify;
}
a{
    text-decoration: none;
    color:darkcyan ;
}
